<!--  The form below won't work, because no Authenticity token is generated-->
<!-- <form class="" action="<%=questions_path%>" method="post">
  <input type="submit" value="Create Questions">
</form> -->

<!-- Better, but the best is the form tag -->
<!-- <form class="" action="<%=questions_path%>" method="post">
  <input type="hidden" name="authenticity_token "value="<%= form_authenticity_token%>">
  <input type="submit" value="Create Questions">
</form> -->


<!--  This will generate the above -->
<!-- <%= form_tag questions_path  do %>
<%= submit_tag "Create Question" %>
<% end %> -->


<%= @q.errors.full_messages.join(", ") %>

<%= simple_form_for @q do |f| %>
  <%= f.input :title, placeholder: "At least 3 characters" %>
  <%= f.input :body, hint: "Put details for the question." %>
  <%= f.input :image %>
  <%= f.association :tags, as: :check_boxes %>

  <%= f.submit class: "btn btn-primary"%>
<% end %>
