<!--  The form below won't work, because no Authenticity token is generated-->
<!-- <form class="" action="<%=questions_path%>" method="post">
  <input type="submit" value="Create Questions">
</form> -->

<!-- Better, but the best is the form tag -->
<!-- <form class="" action="<%=questions_path%>" method="post">
  <input type="hidden" name="authenticity_token "value="<%= form_authenticity_token%>">
  <input type="submit" value="Create Questions">
</form> -->


<!--  This will generate the above -->
<!-- <%= form_tag questions_path  do %>
<%= submit_tag "Create Question" %>
<% end %> -->


<%= @q.errors.full_messages.join(", ") %>

<%= simple_form_for @q do |f| %>
  <!-- <div class="form-group">
    <%= f.label :title %>
    <% #this generates an input that is question[:title] = "whatever input" %>
    <%#= f.text_field :title, value: params[:question][:title] %>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter a title." %>
    <p class="help-block">
      Enter a title describing your question.
    </p>
  </div> -->
  <%= f.input :title, placeholder: "At least 3 characters" %>
  <!-- <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div> -->
  <%= f.input :body, hint: "Put details for the question." %>
  <!-- <div class="form-group">
    <%= f.collection_check_boxes :tag_ids, Tag.order(:name), :id, :name %>
  </div> -->
  <%= f.association :tags, as: :check_boxes %>

  <%= f.submit class: "btn btn-primary"%>
<% end %>
