<h1><%= @q.title %></h1>
<p>
  <%= @q.body %>
</p>

<% if @q.user %>
  <p>
    Created by:
    <%= @q.user.full_name %>
  </p>
<% end %>

<% if can? :edit, @q %>
  <%= link_to "Edit", edit_question_path(@q), class: "btn btn-info btn-sm" %>
<% end %>
<% if can? :destroy, @q %>
  <%= link_to "Delete", question_path(@q), method: :delete,
                                          class: "btn btn-danger btn-sm",
                                          data: {confirm: "Are you sure?"}%>
<% end %>

<% if user_signed_in? && @q.liked_by?(current_user) %>
  <%= link_to fa_icon("thumbs-up"), question_like_path(@q, @q.like_for(current_user)),
                      method: :delete,
                      class: "icon-big"
                      %>
<% else %>
  <%= link_to fa_icon("thumbs-o-up"), question_likes_path(@q), class: "icon-big",
                                                method: :post %>
<% end %>
Liked: <%= pluralize(@q.likes.size, "time") %>

<% if user_signed_in? && @q.favourited_by?(current_user) %>
  <%= link_to fa_icon("star"), question_favourite_path(@q, @q.favourite_for(current_user)),
                      method: :delete,
                      class: "icon-big"
                      %>
<% else %>
  <%= link_to fa_icon("star-o"), question_favourites_path(@q), class: "icon-big",
                                                method: :post %>
<% end %>


<h2>Create an Answer</h2>

<%= @answer.errors.full_messages.join(", ") %>

<%= form_for [@q, @answer] do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<h2>Answers</h2>
<% @q.answers.each do |answer| %>
  <div class="well">
    <%= answer.body %>
      <% if can? :destroy, answer %>
      <%= link_to "Delete", question_answer_path(@q, answer), method: :delete,
                                                              class: "btn btn-danger pull-right",
                                                              data: {confirm: "Are you sure?"}%>
    <% end %>
  </div>
<% end %>
