<% if @q.image.present? %>
  <%= image_tag @q.image.url(:medium) %>
<% end %>
<h1><%= @q.title %></h1>
<p>
  <%= @q.body %>
</p>


<% if @q.user %>
  <p>
    Created by:
    <%= @q.user.full_name %>
  </p>
<% end %>


<% if @q.tags.any? %>
  Tagged with:
  <% @q.tags.each do |tag| %>
    <div class="label label-primary">
      <%= tag.name %>
    </div>
  <% end %>
<% end %>

<% if can? :edit, @q %>
  <%= link_to "Edit", edit_question_path(@q), class: "btn btn-info btn-sm" %>
<% end %>
<% if can? :destroy, @q %>
  <%= link_to "Delete", question_path(@q), method: :delete,
                                          class: "btn btn-danger btn-sm",
                                          data: {confirm: "Are you sure?"}%>
<% end %>

<div class="">

<% if user_signed_in? && @q.liked_by?(current_user) %>
  <%= link_to fa_icon("thumbs-up"), question_like_path(@q, @q.like_for(current_user)),
                      method: :delete,
                      class: "icon-big"
                      %>
<% else %>
  <%= link_to fa_icon("thumbs-o-up"), question_likes_path(@q), class: "icon-big",
                                                method: :post %>
<% end %>
Liked: <%= pluralize(@q.likes.size, "time") %>
<br>
<% if user_signed_in? && @q.favourited_by?(current_user) %>
  <%= link_to fa_icon("star"), question_favourite_path(@q, @q.favourite_for(current_user)),
                      method: :delete,
                      class: "icon-big"
                      %>
<% else %>
  <%= link_to fa_icon("star-o"), question_favourites_path(@q), class: "icon-big",
                                                method: :post %>
<% end %>
Favourited: <%= pluralize(@q.favourites.size, "time") %>
<br>
  <% if !user_signed_in? || !@q.voted_on_by?(current_user)%>
    <%= link_to fa_icon("arrow-up"), question_votes_path(@q, {vote: {is_up: true}}),
                                      method: :post,
                                      class: "icon-big"%>
    <br>
    (<%= @q.vote_result %>)
    <br>
    <%= link_to fa_icon("arrow-down"), question_votes_path(@q, {vote: {is_up: false}}),
                                      method: :post,
                                    class: "icon-big"%>
  <% elsif @q.vote_for(current_user).is_up? %>
    <%= link_to fa_icon("arrow-up"), question_vote_path(@q, @q.vote_for(current_user)),
                                    method: :delete, class: "icon-big text-danger" %>
    <br>
    (<%= @q.vote_result %>)
    <br>

    <%= link_to fa_icon("arrow-down"), question_vote_path(@q, @q.vote_for(current_user), {vote: {is_up: false}}),
                                    method: :patch, class: "icon-big" %>
  <% elsif !@q.vote_for(current_user).is_up?%>
    <%= link_to fa_icon("arrow-up"), question_vote_path(@q, @q.vote_for(current_user), {vote: {is_up: true}}),
                                    method: :patch, class: "icon-big" %>
    <br>
    (<%= @q.vote_result %>)
    <br>

    <%= link_to fa_icon("arrow-down"), question_vote_path(@q, @q.vote_for(current_user)),
                                    method: :delete, class: "icon-big text-danger" %>
  <% else %>
  <% end %>
</div>

<h2>Create an Answer</h2>

<%= @answer.errors.full_messages.join(", ") %>

<%= render "/answers/form" %>

<h2>Answers</h2>
<div id="answers">
  <%# render @q.answers #this would be the same as the loop%>
  <% @q.answers.each do |answer| %>
    <%= render "/answers/answer", answer: answer %>
  <% end %>
</div>
