<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="<%= root_path%>">Home</a>
<hr>
<a href="<%= hello_path%>">Hello with html</a>
<hr>

<!-- but it"s better to use a view helper -->
<%= link_to "Hello with url helper", hello_path%>
<hr>

<%= index_path %>
<hr>
<%= index_url %>

<%= yield %>

</body>
</html>
